In [2]:
from bs4 import BeautifulSoup as bs
import requests

In [9]:
# a = requests.get("https://books.toscrape.com/")
# print(a.text)

In [13]:
for i in range(1,51):
    a = requests.get(f"https://books.toscrape.com/catalogue/page-{i}.html")
    with open(f"htmls/page{i}.html","w",encoding="utf-8") as f:
        f.write(a.text)  
    print(f"Downloaded Page {i}")

Downloaded Page 1
Downloaded Page 2
Downloaded Page 3
Downloaded Page 4
Downloaded Page 5
Downloaded Page 6
Downloaded Page 7
Downloaded Page 8
Downloaded Page 9
Downloaded Page 10
Downloaded Page 11
Downloaded Page 12
Downloaded Page 13
Downloaded Page 14
Downloaded Page 15
Downloaded Page 16
Downloaded Page 17
Downloaded Page 18
Downloaded Page 19
Downloaded Page 20
Downloaded Page 21
Downloaded Page 22
Downloaded Page 23
Downloaded Page 24
Downloaded Page 25
Downloaded Page 26
Downloaded Page 27
Downloaded Page 28
Downloaded Page 29
Downloaded Page 30
Downloaded Page 31
Downloaded Page 32
Downloaded Page 33
Downloaded Page 34
Downloaded Page 35
Downloaded Page 36
Downloaded Page 37
Downloaded Page 38
Downloaded Page 39
Downloaded Page 40
Downloaded Page 41
Downloaded Page 42
Downloaded Page 43
Downloaded Page 44
Downloaded Page 45
Downloaded Page 46
Downloaded Page 47
Downloaded Page 48
Downloaded Page 49
Downloaded Page 50

In [11]:
items = []
for i in range(1,51):
    with open(f"htmls/page{i}.html", encoding="utf-8") as f:
            content = f.read()
    soup = bs(content, "html.parser")
    articles = soup.select("article.product_pod")   #selects all the articles 
    for article in articles:
        title = article.find("h3").find("a")["title"]     # articles > h3 > a > title
        price = article.select_one("p.price_color").text.split("£")[1]
        stock = article.select_one("p.instock").text.strip()
        rating_ele = article.select_one("p.star-rating")
        rating = rating_ele["class"][1]
        # print(f"Title: {title} \t Price: {price} \t Rating: {rating}")  
        items.append([title,price,rating,stock])
# items    prints all the items

In [12]:
import pandas as pd

In [13]:
df = pd.DataFrame(items, columns = ["Book","Price","Rating","Stock"])
df

                                                  Book  Price Rating     Stock
0                                 A Light in the Attic  51.77  Three  In stock
1                                   Tipping the Velvet  53.74    One  In stock
2                                           Soumission  50.10    One  In stock
3                                        Sharp Objects  47.82   Four  In stock
4                Sapiens: A Brief History of Humankind  54.23   Five  In stock
..                                                 ...    ...    ...       ...
995  Alice in Wonderland (Alice's Adventures in Won...  55.53    One  In stock
996   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)  57.06   Four  In stock
997  A Spy's Devotion (The Regency Spies of London #1)  16.97   Five  In stock
998                1st to Die (Women's Murder Club #1)  53.98    One  In stock
999                 1,000 Places to See Before You Die  26.08   Five  In stock

[1000 rows x 4 columns]

In [14]:
df.to_csv("Books_details.csv",index = False)

In [17]:
df[df["Rating"] == "Five"].reset_index()

,index,Book,Price,Rating,Stock
0,4,Sapiens: A Brief History of Humankind,54.23,Five,In stock
1,12,Set Me Free,17.46,Five,In stock
2,13,Scott Pilgrim's Precious Little Life (Scott Pi...,52.29,Five,In stock
3,14,Rip it Up and Start Again,35.02,Five,In stock
4,23,Chase Me (Paris Nights #2),25.27,Five,In stock
...,...,...,...,...,...
191,985,Deep Under (Walker Security #1),47.09,Five,In stock
192,989,Bright Lines,39.07,Five,In stock
193,993,"Bleach, Vol. 1: Strawberry and the Soul Reaper...",34.65,Five,In stock
194,997,A Spy's Devotion (The Regency Spies of London #1),16.97,Five,In stock
195,999,"1,000 Places to See Before You Die",26.08,Five,In stock